.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 20px;
  padding: 20px;
  background-color: #b7d1ee;
}

.left-column,
.right-column {
  background: rgb(223, 228, 236);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}